.video-details-container {
  background-color: #f4f4f4;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  overflow-y: auto;
}

.video-details-container-dark {
  background-color: #080808;
  color: #ffffff;
}

.video-details-success-container {
  width: 900px;
}

.react-player {
  width: 50vw;
  margin: 20px 0;
}

.video-info-and-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-container {
  display: flex;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #64748b;
  font-size: 15px;
}

hr {
  width: 100%;
  border: 1px solid #cbd5e1;
}

.channel-profile-information {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.profile-image {
  width: 50px;
  height: 50px;
}

.channel-details {
  margin-top: 10px;
}
.channel-details .channel-name {
  color: #080808;
  font-size: 15px;
}

.channel-details .subscriber-count {
  color: #616e7c;
  font-size: 13px;
}

.channel-details .description {
  font-size: 15px;
  color: #616e7c;
}

.active-option {
  color: #2563eb;
}

.video-details-success-container-dark .channel-details .description {
  color: #ffffff;
}

.video-details-success-container-dark .channel-details .channel-name {
  color: #ffffff;
}

.video-details-success-container-dark .title {
  color: #ffffff;
}
