.header-light {
  margin: 0;
  padding: 1px 0;
}
.header-light ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 0 30px;
}

.header-dark {
  background-color: #181818;
  margin: 0;
  padding: 1px 0;
}

.header-dark ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  width: 100px;
}

.profile {
  width: 30px;
}

.header-options {
  display: flex;
  gap: 30px;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.logout-btn-light {
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  font-weight: bold;
}

.logout-btn-dark {
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
}

.popup-container {
  background-color: #181818ae;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-confirmation-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 400px;
  height: 200px;
}

.popup-confirmation-container p {
  font-size: 15px;
  color: #00306e;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.popup-close-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #909090;
  border-radius: 5px;
  color: #909090;
  outline: none;
  font-weight: bold;
}

.popup-logout-confirm-btn {
  border: none;
  color: #ffffff;
  background-color: #3b82f6;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
}

.popup-container-dark .popup-confirmation-container {
  background-color: #313131;
}

.popup-container-dark .popup-confirmation-container p {
  color: #f4f4f4;
}

.popup-container-dark .popup-confirmation-container .popup-close-btn {
  border: 2px solid #64748b;
  color: #64748b;
}
